# Data Cleaning and preprocessing Test Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
    
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_test= pd.read_csv('customer_test.csv')

df_test.head()

,Unnamed: 0.1,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,1681,1681,5939,1971,S1,Bertunangan,38232000.0,1,1,17-01-2014,...,5,0,0,0,0,0,0,3,11,0
1,1682,1682,2156,1955,S3,Menikah,22554000.0,1,1,03-11-2012,...,5,0,0,0,0,0,0,3,11,0
2,1683,1683,7788,1983,S3,Menikah,23536000.0,1,0,04-06-2014,...,3,0,0,0,0,0,0,3,11,0
3,1684,1684,10323,1952,S1,Menikah,49413000.0,0,1,25-10-2013,...,5,0,0,0,0,0,0,3,11,0
4,1685,1685,7947,1969,S1,Menikah,42231000.0,1,1,25-03-2014,...,5,0,0,0,0,0,0,3,11,0

In [3]:
print('Columns in Data:\n', df_test.columns)
print('Total rows and columns in Data:\n', df_test.shape)

Columns in Data:
 Index(['Unnamed: 0.1', 'Unnamed: 0', 'ID', 'Year_Birth', 'Education',
       'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
       'Recency', 'MntCoke', 'MntFruits', 'MntMeatProducts', 'MntFishProducts',
       'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases',
       'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases',
       'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5',
       'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact',
       'Z_Revenue', 'Response'],
      dtype='object')
Total rows and columns in Data:
 (559, 31)

In [4]:
#removing unwanted column 
df_test = df_test.drop(labels =['Unnamed: 0.1', 'Unnamed: 0','ID','Z_CostContact' ,'Z_Revenue'], axis=1,)

In [5]:
df_test.duplicated().sum()

9

In [6]:
df_test = df_test.loc[~df_test.duplicated()].reset_index(drop=True)

In [7]:
df_test.duplicated().sum()

0

In [8]:
# renaming columns
df_test = df_test.rename(columns = {
    'Lajang': 'Single',
    'Bertunangan': 'Engaged',
    'Menikah': 'Married',
    'Cerai': 'Divorced',
    'Janda': 'Widowed(female)',
    'duda': 'Widowed (male)',
    'MntCoke': 'Coke',
    'MntFruits': 'Fruits',
    'MntMeatProducts': 'Meat',
    'MntFishProducts': 'Fish',
    'MntSweetProducts': 'Sweets',
    'MntGoldProds': 'Gold',
    'AcceptedCmp1': 'Campaign1',
    'AcceptedCmp2': 'Campaign2',
    'AcceptedCmp3': 'Campaign3',
    'AcceptedCmp4': 'Campaign4',
    'AcceptedCmp5': 'Campaign5',
    'Response': 'Last_Campaign'})

df_test.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,Coke,Fruits,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Campaign3,Campaign4,Campaign5,Campaign1,Campaign2,Complain,Last_Campaign
0,1971,S1,Bertunangan,38232000.0,1,1,17-01-2014,84,43000,5000,...,1,3,5,0,0,0,0,0,0,0
1,1955,S3,Menikah,22554000.0,1,1,03-11-2012,38,27000,0,...,0,4,5,0,0,0,0,0,0,0
2,1983,S3,Menikah,23536000.0,1,0,04-06-2014,53,6000,0,...,0,3,3,0,0,0,0,0,0,0
3,1952,S1,Menikah,49413000.0,0,1,25-10-2013,88,205000,7000,...,2,5,5,0,0,0,0,0,0,0
4,1969,S1,Menikah,42231000.0,1,1,25-03-2014,99,24000,0,...,0,3,5,0,0,0,0,0,0,0

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           550 non-null    int64
 1   Education            550 non-null    object
 2   Marital_Status       550 non-null    object
 3   Income               543 non-null    float64
 4   Kidhome              550 non-null    int64
 5   Teenhome             550 non-null    int64
 6   Dt_Customer          550 non-null    object
 7   Recency              550 non-null    int64
 8   Coke                 550 non-null    int64
 9   Fruits               550 non-null    int64
 10  Meat                 550 non-null    int64
 11  Fish                 550 non-null    int64
 12  Sweets               550 non-null    int64
 13  Gold                 550 non-null    int64
 14  NumDealsPurchases    550 non-null    int64
 15  NumWebPurchases      550 non-null    int64
 16  NumCatalogPurchases  550 non-null    int64
 17  NumStorePurchases    550 non-null    int64
 18  NumWebVisitsMonth    550 non-null    int64
 19  Campaign3            550 non-null    int64
 20  Campaign4            550 non-null    int64
 21  Campaign5            550 non-null    int64
 22  Campaign1            550 non-null    int64
 23  Campaign2            550 non-null    int64
 24  Complain             550 non-null    int64
 25  Last_Campaign        550 non-null    int64
dtypes: float64(1), int64(22), object(3)
memory usage: 111.8+ KB

In [10]:
# Create a new column 'year' and set it to the current year, 2023.
df_test['year'] = 2023

# Convert 'Dt_Customer' column to datetime format
df_test['Dt_Customer'] = pd.to_datetime(df_test['Dt_Customer'])

# Extract the year and create a new column 'Year_Customer'
df_test['Year_Customer'] = df_test['Dt_Customer'].dt.year

In [11]:
# Calculate customer age by subtracting 'Year_Birth' from the current year and store it in a new column 'Customer_Age'.
df_test['Customer_Age'] = df_test['year'] - df_test['Year_Birth']

# Calculate customer tenure by subtracting 'Year_Customer' from the current year and store it in a new column 'customer_tenure'.
df_test['customer_tenure'] = df_test['year'] - df_test['Year_Customer']

# Drop columns 'Year_Birth' and 'year' from the DataFrame.
df_test.drop(columns=['Year_Birth', 'year', 'Year_Customer','Dt_Customer' ], axis=1, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder

# Create a label encoder for 'Education' column
education_encoder = LabelEncoder()
df_test['Education'] = education_encoder.fit_transform(df_test['Education'])

# Create a label encoder for 'Marital_Status' column
marital_status_encoder = LabelEncoder()
df_test['Marital_Status'] = marital_status_encoder.fit_transform(df_test['Marital_Status'])

# Convert the encoded columns to int64 data type
df_test[['Education', 'Marital_Status']] = df_test[['Education', 'Marital_Status']].astype('int64')

In [13]:
df_test.head()

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,Coke,Fruits,Meat,Fish,...,NumWebVisitsMonth,Campaign3,Campaign4,Campaign5,Campaign1,Campaign2,Complain,Last_Campaign,Customer_Age,customer_tenure
0,1,0,38232000.0,1,1,84,43000,5000,28000,7000,...,5,0,0,0,0,0,0,0,52,9
1,3,4,22554000.0,1,1,38,27000,0,10000,0,...,5,0,0,0,0,0,0,0,68,11
2,3,4,23536000.0,1,0,53,6000,0,3000,0,...,3,0,0,0,0,0,0,0,40,9
3,1,4,49413000.0,0,1,88,205000,7000,41000,3000,...,5,0,0,0,0,0,0,0,71,10
4,1,4,42231000.0,1,1,99,24000,0,8000,0,...,5,0,0,0,0,0,0,0,54,9

In [14]:
# Find the missing values in each columns 
df_test.isnull().sum()

Education              0
Marital_Status         0
Income                 7
Kidhome                0
Teenhome               0
Recency                0
Coke                   0
Fruits                 0
Meat                   0
Fish                   0
Sweets                 0
Gold                   0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Campaign3              0
Campaign4              0
Campaign5              0
Campaign1              0
Campaign2              0
Complain               0
Last_Campaign          0
Customer_Age           0
customer_tenure        0
dtype: int64

In [15]:
# # Fill missing values in the 'Income' column with the median income value.
df_test["Income"].fillna(df_test["Income"].median(), inplace=True)

In [16]:
# Checking again if missing values still present
df_test.isnull().sum()

Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
Coke                   0
Fruits                 0
Meat                   0
Fish                   0
Sweets                 0
Gold                   0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Campaign3              0
Campaign4              0
Campaign5              0
Campaign1              0
Campaign2              0
Complain               0
Last_Campaign          0
Customer_Age           0
customer_tenure        0
dtype: int64

In [17]:
# Summary statistics.
df_test.describe()

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,Coke,Fruits,Meat,Fish,...,NumWebVisitsMonth,Campaign3,Campaign4,Campaign5,Campaign1,Campaign2,Complain,Last_Campaign,Customer_Age,customer_tenure
count,550.000000,550.000000,5.500000e+02,550.000000,550.000000,550.000000,5.500000e+02,550.000000,5.500000e+02,550.000000,...,550.000000,550.000000,550.000000,550.000000,550.000000,550.000000,550.000000,550.00000,550.000000,550.000000
mean,1.592727,2.394545,5.311251e+07,0.418182,0.523636,49.741818,3.020873e+05,27529.090909,1.712491e+05,39385.454545,...,5.252727,0.074545,0.076364,0.085455,0.069091,0.018182,0.007273,0.16000,54.290909,9.956364
std,1.008860,1.645983,3.393555e+07,0.511824,0.528242,28.957205,3.318960e+05,40548.718916,2.313297e+05,56178.162525,...,2.354653,0.262896,0.265821,0.279811,0.253840,0.133730,0.085047,0.36694,11.863327,0.697318
min,0.000000,0.000000,4.023000e+06,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,28.000000,9.000000
25%,1.000000,0.250000,3.442700e+07,0.000000,0.000000,25.000000,2.300000e+04,2000.000000,1.500000e+04,3000.000000,...,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,45.250000,9.000000
50%,1.000000,3.000000,5.291400e+07,0.000000,1.000000,49.000000,1.755000e+05,8000.000000,6.650000e+04,12000.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,53.000000,10.000000
75%,2.000000,4.000000,6.945575e+07,1.000000,1.000000,74.750000,5.150000e+05,35750.000000,2.290000e+05,55000.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,64.000000,10.000000
max,4.000000,4.000000,6.666660e+08,2.000000,2.000000,99.000000,1.493000e+06,194000.000000,1.607000e+06,258000.000000,...,19.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,83.000000,11.000000

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_df_test = scaler.fit_transform(df_test)

#Create a DataFrame with scaled features
scaled_df_test = pd.DataFrame(data=scaled_df_test, columns=df_test.columns)
scaled_df_test

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,Coke,Fruits,Meat,Fish,...,NumWebVisitsMonth,Campaign3,Campaign4,Campaign5,Campaign1,Campaign2,Complain,Last_Campaign,Customer_Age,customer_tenure
0,-0.588057,-1.456106,-0.438892,1.137789,0.902612,1.184139,-0.781338,-0.556111,-0.619806,-0.577002,...,-0.107429,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,-0.193284,-1.372737
1,1.396184,0.976265,-0.901306,1.137789,0.902612,-0.405858,-0.829590,-0.679532,-0.697688,-0.701719,...,-0.107429,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,1.156638,1.498005
2,1.396184,0.976265,-0.872343,1.137789,-0.992184,0.112620,-0.892921,-0.679532,-0.727975,-0.701719,...,-0.957584,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,-1.205726,-1.372737
3,-0.588057,0.976265,-0.109115,-0.817786,0.902612,1.322400,-0.292789,-0.506743,-0.563558,-0.648269,...,-0.107429,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,1.409748,0.062634
4,-0.588057,0.976265,-0.320944,1.137789,0.902612,1.702617,-0.838637,-0.679532,-0.706341,-0.701719,...,-0.107429,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,-0.024544,-1.372737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,-0.588057,0.976265,0.239215,-0.817786,0.902612,-0.129337,1.227141,0.381886,0.046517,0.046583,...,-0.107429,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,0.144196,0.062634
546,1.396184,-1.456106,0.321534,3.093364,0.902612,0.216315,0.313373,-0.679532,-0.611152,-0.701719,...,0.742727,-0.283813,-0.287536,-0.305679,3.670652,-0.136083,-0.085592,-0.436436,1.915969,-1.372737
547,-0.588057,-0.848013,0.114099,-0.817786,-0.992184,1.426096,1.827272,0.505307,0.197954,-0.131585,...,0.317649,-0.283813,3.477821,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,-1.036985,-1.372737
548,0.404064,-1.456106,0.475819,-0.817786,0.902612,-1.442812,0.379719,0.060992,0.184973,0.723618,...,-0.957584,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,-0.436436,1.072268,-1.372737
549,1.396184,0.976265,-0.007182,1.137789,0.902612,-0.336727,-0.657693,-0.605480,-0.477022,-0.666086,...,0.742727,-0.283813,-0.287536,-0.305679,-0.272431,-0.136083,-0.085592,2.291288,1.241008,1.498005

In [19]:
scaled_df_test.isnull().sum()

Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
Coke                   0
Fruits                 0
Meat                   0
Fish                   0
Sweets                 0
Gold                   0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
Campaign3              0
Campaign4              0
Campaign5              0
Campaign1              0
Campaign2              0
Complain               0
Last_Campaign          0
Customer_Age           0
customer_tenure        0
dtype: int64

In [20]:
scaled_df_test.shape

(550, 26)

In [21]:
scaled_df_test.to_csv('preprocessed_test_data.csv', index=False)